***
# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 2</font>
***

## Trabalho sobre Probabilidades, Amostragem e Estimações

Utilizando os conhecimentos adquiridos em nosso treinamento execute as tarefas abaixo. Siga o roteiro proposto e vá completando as células vazias.

# <font color=green>DATASET DO PROJETO</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

***
***

### Utilize a célula abaixo para importar as bibliotecas que precisar para executar as tarefas
#### <font color='red'>Sugestões: pandas, numpy, scipy etc.</font>

In [34]:
import pandas as pd
import numpy as np
from scipy.stats import binom
from scipy.stats import norm

### Importe o dataset e armazene o conteúdo em uma DataFrame

In [35]:
dados = pd.read_csv('dados.csv')

### Visualize o conteúdo do DataFrame

In [36]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# <font color='green'>Problema A</font>

Avaliando nosso dataset é possível verificar que a **proporção de homens** como chefes de domicílios é de quase **70%**. Precisamos **selecionar aleatoriamente grupos de 10 indivíduos** para verificar as diferenças entre os rendimentos em cada grupo. Qual a **probabilidade de selecionamos um grupo que apresente a mesma proporção da população**, ou seja, selecionarmos um grupo que seja **composto por 7 homens e 3 mulheres**?

#### <font color='blue'>Como tarefa extra, verifique a real proporção de homens e mulheres em nosso dataset (vimos como fazer isso em nosso primeiro curso de estatística).</font>

#### <font color='red'>Verifique que tipo de distribuição de probabilidade se encaixa neste experimento.</font>

### Solução

In [37]:
# Variáveis da distribuição binomial
n = 10
p = 0.7
k = 7

In [38]:
# Distribuição binomial
probabilidade = binom.pmf(k, n, p)
print(f'A probabilidade de selecionarmos um grupo que apresente a mesma proporção da população é: {probabilidade * 100:.2f}%')

A probabilidade de selecionarmos um grupo que apresente a mesma proporção da população é: 26.68%

In [39]:
sexo = {0: 'Masculino', 1: 'Feminino'}
dados['Sexo'] = dados['Sexo'].replace(sexo)
dados.head()

   UF       Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11  Masculino     23    8              12    800  1.603808
1  11   Feminino     23    2              12   1150  1.739790
2  11   Feminino     35    8              15    880  1.760444
3  11  Masculino     46    2               6   3500  1.783158
4  11   Feminino     47    8               9    150  1.690631

In [40]:
dados['Sexo'].value_counts(normalize=True)

Masculino    0.692998
Feminino     0.307002
Name: Sexo, dtype: float64

# <font color='green'>Problema B</font>

Ainda sobre a questão anterior, **quantos grupos de 10 indivíduos** nós precisaríamos selecionar, de forma aleatória, para conseguir **100 grupos compostos por 7 homens e 3 mulheres**?

#### <font color='red'>Lembre-se da forma de cálculo da média de uma distribuição binomial</font>

### Solução

In [41]:
n = int((100 / probabilidade).round())
print(f'Será necessário criar cerca de {n} grupos para obter 100 grupos compostos por 7 homens e 3 mulheres')

Será necessário criar cerca de 375 grupos para obter 100 grupos compostos por 7 homens e 3 mulheres

# <font color='green'>Problema C</font>

Um cliente nos encomendou um estudo para avaliar o **rendimento dos chefes de domicílio no Brasil**. Para isso precisamos realizar uma nova coleta de dados, isto é, uma nova pesquisa de campo. Após reunião com o cliente foi possível elencar o seguinte conjunto de informações:

> A. O resultado da pesquisa precisa estar pronto em **2 meses**;

> B. Teremos somente **R$ 150.000,00** de recursos para realização da pesquisa de campo; e
    
> C. Seria interessante uma **margem de erro não superior a 10% em relação a média estimada**.

Em nossa experiência com estudos deste tipo, sabemos que o **custo médio por indivíduo entrevistado fica em torno de R$ 100,00**. Com este conjunto de fatos avalie e obtenha o seguinte conjunto de informações para passar ao cliente:


> 1. Para obter uma estimativa para os parâmetros da população (renda dos chefes de domicílio no Brasil), realize uma amostragem aleatória simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a média e o desvio-padrão dessa amostra.
    
> 2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necessários para garantir os **níveis de confiança de 90%, 95% e 99%**.
    
> 3. Obtenha o **custo da pesquisa** para os três níveis de confiança.
    
> 4. Para o maior nível de confiança viável (dentro do orçamento disponível), obtenha um **intervalo de confiança para a média da população**.
    
> 5. Assumindo o **nível de confiança escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?
    
> 6. Assumindo um **nível de confiança de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em relação a média estimada?

# <font color='blue'>Solução do item 1</font>

### Seleção de uma amostra aleatório simples

#### <font color='red'>Lembre-se de utilizar *random_state = 101*</font>

In [42]:
amostra = dados.sample(n = 200, random_state = 101)
amostra

       UF       Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
29042  29  Masculino     39    8               5    480  1.719128
62672  43  Masculino     55    2               6    250  1.639205
29973  29   Feminino     36    2              12    788  1.654122
22428  26  Masculino     46    8               8   1680  1.622450
55145  41  Masculino     37    2               9   2500  1.625268
...    ..        ...    ...  ...             ...    ...       ...
50497  35  Masculino     39    2              12   3400  1.736021
3668   13   Feminino     66    8               1    780  1.753201
4872   14   Feminino     46    8              12   1000  1.783724
38670  31  Masculino     53    8              12   1000  1.753985
71730  52   Feminino     47    4               9    600  1.667561

[200 rows x 7 columns]

In [43]:
media = amostra['Renda'].mean()
media

1964.205

In [44]:
dados['Renda'].mean()

2000.3831988547631

In [45]:
desvio_padrao = amostra['Renda'].std()
desvio_padrao

3139.8855167452157

In [46]:
dados['Renda'].std()

3323.3877303470294

# <font color='blue'>Solução do item 2</font>

### Obtenha a margem de erro

#### <font color='red'>Lembre-se que a margem de erro deve estar na mesma unidade da variável que está sendo estudada (R$)</font>

In [47]:
erro = media * 0.1
erro

196.4205

In [48]:
def calcular_tamanho_amostra(nivel_confianca, desvio_padrao, erro):
    alpha = 1 - (1 - nivel_confianca) / 2
    z = norm.ppf(alpha)
    n = (z * (desvio_padrao / erro))**2
    return int(n.round())

### Tamanho da amostra ($1 - \alpha = 90\%$)

In [49]:
n_90 = calcular_tamanho_amostra(0.9, desvio_padrao, erro)
print(f'Para um nível de confiança de 90% devemos selecionar uma amostra de {n_90} elementos.')

Para um nível de confiança de 90% devemos selecionar uma amostra de 691 elementos.

### Tamanho da amostra ($1 - \alpha = 95\%$)

In [50]:
n_95 = calcular_tamanho_amostra(0.95, desvio_padrao, erro)
print(f'Para um nível de confiança de 95% devemos selecionar uma amostra de {n_95} elementos.')

Para um nível de confiança de 95% devemos selecionar uma amostra de 982 elementos.

### Tamanho da amostra ($1 - \alpha = 99\%$)

In [51]:
n_99 = calcular_tamanho_amostra(0.99, desvio_padrao, erro)
print(f'Para um nível de confiança de 99% devemos selecionar uma amostra de {n_99} elementos.')

Para um nível de confiança de 99% devemos selecionar uma amostra de 1695 elementos.

# <font color='blue'>Solução do item 3</font>

In [52]:
custo_individuo = 100

### Custo da pesquisa para o nível de confiança de 90%

In [53]:
print(f'O custo será R${n_90 * custo_individuo}')

O custo será R$69100

### Custo da pesquisa para o nível de confiança de 95%

In [54]:
print(f'O custo será R${n_95 * custo_individuo}')

O custo será R$98200

### Custo da pesquisa para o nível de confiança de 99%

In [55]:
print(f'O custo será R${n_99 * custo_individuo}')

O custo será R$169500

# <font color='blue'>Solução do item 4</font>

In [56]:
intervalo = norm.interval(confidence = 0.95, loc = media, scale = desvio_padrao / np.sqrt(n_95))
intervalo

(1767.820973280509, 2160.589026719491)

# <font color='blue'>Solução do item 5</font>

In [60]:
alpha = 1 - (1 - 0.95) / 2
z = norm.ppf(alpha)
n = 150000 / custo_individuo
erro = (z * desvio_padrao) / np.sqrt(n)
erro_percentual = erro / media
print(f'A nova margem de erro é: {erro_percentual * 100:.2f}%')

A nova margem de erro é: 8.09%

# <font color='blue'>Solução do item 6</font>

In [58]:
erro = media * 0.05
n_95 = calcular_tamanho_amostra(0.95, desvio_padrao, erro)
custo = n_95 * custo_individuo
print(f'O cliente teria que pagar R${custo}')

O cliente teria que pagar R$392700